.add-bullet {
  text-align: center;
  font-size: 28px;
  cursor: cell;
}

.add-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.search-container {
      justify-content: center;
    display: flex;
        background-color: #eee;
}

.search-container > .mat-input-container {
  width: 90%;
}