.drag-handle-icon {
  color: grey;
  margin-top: 6px;
  cursor: move;
}

.flex-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-row.start {
  justify-content: flex-start;
}

.chip-row {
    position: absolute;
    top: 35px;
    left: 5px;
}

.flex-column {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.bullet-flex-column {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.bullet-icons {
  margin:auto;
  padding: 0px 10px;
}

.bullet-icons > mat-checkbox {
  padding: 0px 4px;
}


.bullet-content {
  padding: 5px 10px;
  width: 100%;
  position: relative;
}

.bullet-description {
  padding: 10px 0px;
}

.bullet-header {
  font-size:20px;
  font-weight:bold;
}

