<div class="flex-row">

  <!-- bullet drag handle and icon -->
  <div class="flex-row">
    <div class="bullet-icons">
      <mat-icon class="drag-handle-icon handle">drag_handle</mat-icon>
    </div>
    <div class="bullet-icons">
      <mat-checkbox></mat-checkbox>
    </div>
  </div>

  <!-- bullet content -->
  <div class="flex-column bullet-content">
    <span class="bullet-header">{{bullet.title}}</span>
    <span class="bullet-description">
       {{bullet.desc}}
    </span>
    <mat-chip-list>
      <app-bullet-tag *ngFor="let tag of bullet.tags" [tag]="tag"></app-bullet-tag>
    </mat-chip-list>
  </div>

  <!-- delete button -->
  <div class="flex-row">
    <div class="bullet-icons">
      <button mat-icon-button (click)="handleRemove(bullet)">
        <mat-icon >close</mat-icon>
      </button>
    </div>
  </div>  
</div>

<mat-divider ></mat-divider>
