h2 {
  text-align: center;
}

.mat-icon {
  color: grey;
}

.bullet-type-button {
  width: 100%;
}

.mat-button-wrapper {
  float: left !important;
}

.autocomplete-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.autocomplete-full-width {
  width: 100%;
}

.option-color-container {
  padding: 2px;
  margin-right: 12px;
}
